CSS/UI EXAMPLES
https://heritagewestsussex.co.uk/#top - ** customers choice  **

https://www.wix.com/website-template/view/html/1715?originUrl=https%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates%3Fcriteria%3Dblack%2Band%2Bwhite%26page%3D14%26dashboardFirstMetaSiteId%3D58711a1e-3110-40d0-92c9-ed32fe71d0ba%26templateBuilders%3DEditor%252CHarmony&tpClick=view_button&esi=ba2744cd-9ff9-4712-8129-2ba7bef1d4e5&dashboardFirstMetaSiteId=58711a1e-3110-40d0-92c9-ed32fe71d0ba

https://www.wix.com/website-template/view/html/4956   **if this was more black and white maybe**
https://www.awwwards.com/awwwards_collections/collections/   **black-and-white-websites/-for black and white website inspiration**


ALL IMAGES MUST BE ORIGINAL, FROM CASE STUDIES

ALL IMAGES ON MAIN WEBSITE PAGE TO BE BLACK AND WHITE- ONLY SHOW COLOUR WHEN ITS EITHER:
A) CLICKED OR HOVERED OVER, OR B} HAVE BLACK WHITE MODE/COLOUR TOGGLE MODE, OR C- ONLY SHOW COLOUR PHOTOS WITHIN CERTAIN AREAS, FOR INSTANCE WHEN YOU CLICK CASE STUDIES, INSIDE THERE, ALL PHOTOS ARE COLOUR.. WHICHEVER EASIEST, BUT A AND B SOUND MOST FUN  